:root {
    --blue: rgba(0,123,255, 0.2);
    --green: rgba(23,162,184, 0.3);
    --light: rgba(248,249,250);
}

.image-container {
    background-image: url("../../images/classroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hide-scroll {
    overflow: hidden;
}

.bg-fade {

    background-image: linear-gradient(to bottom, var(--blue),var(--green));
}